*{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


body{
    color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color:gray;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="name"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid black;
    border-radius: 8px;
}

input[type="sumbit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

input[type="sumbit"]:hover{
    background-color: #0056b3;
}